
.block .col-sm-6{
	margin-bottom: 3%;
}

.rate{
	border-radius:  100%;
	display: inline-block;
	padding: 25px 27px 25px;
	background-color: rgba(250, 177, 160);
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	border: 3px dotted #ddd;
}

.ibox-title{
	padding-right: 10px;
	padding-left: 10px;
}


.ct-series-c line:nth-of-type(n+1) {
	stroke: rgba(210, 140, 14, 0.5);
}

.ct-series-a line:nth-of-type(n+1) {
	stroke: #bbb;
}